<!-- <div class="form-type">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <input
        type="button"
        class="btn"
        [class.active]="activeTab === 'oneWay'"
        aria-current="page"
        value="One Way"
        (click)="toggleOneWayTrip()"
      />
    </li>
    <li class="nav-item">
      <input
        type="button"
        class="btn"
        [class.active]="activeTab === 'roundTrip'"
        aria-current="page"
        value="Round Trip"
        (click)="toggleRoundTrip()"
      />
    </li>
    <li class="nav-item">
      <input
        type="button"
        class="btn"
        [class.active]="activeTab === 'multiCity'"
        aria-current="page"
        value="Multi City"
        (click)="toggleMultiCity()"
      />
    </li>
  </ul>
</div> -->