<div class="container" [formGroup]="formGroup">
  <form (ngSubmit)="submitMultiCityFormData()">
    <div class="form-content">
      <div formArrayName="legs">
        <ng-container *ngFor="let leg of legs.controls; let i = index" [formGroupName]="i">
          <div class="flight-section" [class.active]="activeFlightIndex === i">
            <div class="row mb-3">
              <div class="col-md-5">
                <label for="origin">From</label>
                <ng-select
                  [items]="listOfAirports"
                  bindLabel="airportName"
                  bindValue="airportCode"
                  placeholder="Enter city or airport"
                  formControlName="origin"
                  [clearable]="false"
                  (change)="selectAirport2($event, 'origin')"
                  (search)="onSearch($event.term)"
                >
                  <ng-template ng-option-tmp let-item="item">
                    <div class="airport-option">
                      <div class="airport-code">{{ item.airportCode }}</div>
                      <div class="airport-details">
                        <span class="airport-name">{{ item.airportName }}</span>
                      </div>
                    </div>
                  </ng-template>
                </ng-select>
                <div
                  class="text-danger small"
                  *ngIf="leg.get('origin')?.invalid && leg.get('origin')?.touched"
                >
                  Origin is required
                </div>
              </div>

              <div class="col-md-5">
                <label for="destination">To</label>
                <ng-select
                  [items]="listOfAirports"
                  bindLabel="airportName"
                  bindValue="airportCode"
                  placeholder="Enter city or airport"
                  formControlName="destination"
                  [clearable]="false"
                  (change)="selectAirport2($event, 'destination')"
                  (search)="onSearch($event.term)"
                >
                  <ng-template ng-option-tmp let-item="item">
                    <div class="airport-option">
                      <div class="airport-code">{{ item.airportCode }}</div>
                      <div class="airport-details">
                        <span class="airport-name">{{ item.airportName }}</span>
                      </div>
                    </div>
                  </ng-template>
                </ng-select>
                <div
                  class="text-danger small"
                  *ngIf="leg.get('destination')?.invalid && leg.get('destination')?.touched"
                >
                  Destination is required
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-5">
                <label for="departure">Departure</label>
                <input
                  class="form-control"
                  type="date"
                  placeholder="Search here"
                  required
                  formControlName="fromDate"
                  [attr.min]="today"
                  (change)="updateMinToDate()"
                  [class.is-invalid]="leg.get('fromDate')?.invalid && leg.get('fromDate')?.touched"
                />
                <div
                  class="text-danger small"
                  *ngIf="leg.get('fromDate')?.invalid && leg.get('fromDate')?.touched"
                >
                  Date is required
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- Passenger Controls -->
      <div class="row mb-4">
        <div class="passenger-input col-md-4">
          <label class="passenger-label">Adult<span class="age-info"> (12+ Yrs)</span></label>
          <ngx-slider
            [value]="formGroup.get('adults')?.value"
            [options]="adultOptions"
            formControlName="adults"
          ></ngx-slider>
        </div>

        <div class="passenger-input col-md-4">
          <label class="passenger-label">Child <span class="age-info">(2-12 Yrs)</span></label>
          <ngx-slider
            [value]="formGroup.get('children')?.value"
            [options]="childOptions"
            formControlName="children"
          ></ngx-slider>
        </div>

        <div class="passenger-input col-md-4">
          <label class="passenger-label">Infants <span class="age-info"> (0-2 Yrs)</span></label>
          <ngx-slider
            [value]="formGroup.get('infants')?.value"
            [options]="infantOptions"
            formControlName="infants"
          ></ngx-slider>
        </div>
      </div>

      <!-- Special Fares -->
      <div class="row mb-4">
        <label>Special fares</label>
        <div class="special container d-flex justify-content-start justify-content-md-between mt-2">
          <span class="btn badge">Armed Forces</span>
          <span class="btn badge">Medical Professionals</span>
          <span class="btn badge">Senior Citizens</span>
          <span class="btn badge">Students</span>
        </div>
      </div>

      <!-- Routes and Class -->
      <div class="row mb-4">
        <div class="col-md-6">
          <label for="routes">Routes</label>
          <select formControlName="routes" class="form-select">
            <option value="Non Stop">Non Stop</option>
            <option value="1 Stop">1 Stop</option>
            <option value="2 Stop">2 Stop</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="economy">Class</label>
          <select formControlName="class" class="form-select">
            <option value="Economy">Economy</option>
            <option value="Premium Economy">Premium Economy</option>
            <option value="Business">Business</option>
            <option value="First Class">First Class</option>
          </select>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="row mb-2">
        <button type="submit" class="btn btn-continue">
          <img src="../../../assets/icons/search.svg" alt="Search Icon" class="me-1" />
          Search Flights
        </button>
      </div>
    </div>
  </form>
</div>
