.main {
    border-radius: 6px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
  }
  .continue-btn{
      background-color: var(--primary);
      color: white;
  }
  .links-text{
    color: #007191;
  }