<div class="container my-1 d-flex justify-content-center py-4">
  <div class="main">
    <div class="row card">
      <div class="card-body">
        <h5 class="heading text-center">Forgot Password!</h5>
        <p class="text-center">Sent a OTP to your registered email</p>
        <hr class="mb-2" />

        <!-- Forgot Password Input -->
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group my-4">
            <label for="email" class="form-label">Email Address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="Enter email ID"
              [ngClass]="{
                'is-invalid':
                  submitted && forgotPasswordForm.get('email')?.invalid
              }"
            />
            <div
              *ngIf="submitted && forgotPasswordForm.get('email')?.errors"
              class="invalid-feedback"
            >
              <small
                *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"
              >
                Email is required.
              </small>
              <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">
                Invalid email format.
              </small>
            </div>
          </div>

          <!-- <div class="form-group my-4">
            <label for="companyCode" class="form-label">Company Code</label>
            <input
              type="text"
              class="form-control"
              id="companyCode"
              formControlName="companyCode"
              placeholder="Enter company code"
              [ngClass]="{ 'is-invalid': submitted && forgotPasswordForm.get('companyCode')?.invalid }"
            />
            <div *ngIf="submitted && forgotPasswordForm.get('companyCode')?.errors" class="invalid-feedback">
              <small *ngIf="forgotPasswordForm.get('companyCode')?.errors?.['required']">
                Company code is required.
              </small>
            </div>
          </div> -->

          <button
            class="btn continue-btn w-100 mb-2"
            type="submit"
            [disabled]="forgotPasswordForm.invalid"
          >
            Continue
          </button>
          <button class="btn w-100 mb-4" type="button" (click)="goBack()">
            Go Back
          </button>
        </form>

        <div class="d-flex text-center px-3">
          <span style="font-size: 10px">
            By proceeding, you agree to KwikTravelTrip
            <a class="links-text">Privacy Policy</a>,
            <a class="links-text">User Agreement</a> and <a class="links-text">T&Cs</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-common-alert [message]="modalMessage"></app-common-alert>
